<html>
    <head>
        <link href={{ .css }} rel="stylesheet" type="text/css">
        {{template "navbar" .}}
    </head>
    <body>
        <div>
            <div class="body">
                <div></div>
                <iframe src='{{ .Sample.Video }}' scrolling='no' frameborder='0'></iframe>
                <div class="info">
                    <div class="title">
                        <div>
                            <h2> {{ .Sample.Name }} </h2>
                            <h3>No.{{ .Sample.Id_sample }}</h3> 
                        </div>
                        <form action="/delete?q={{.Id_sample}}" method="POST" class="form">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                    <div class="info-body">
                        <p><b>Sample Type:</b>  {{ .Sample.Type }}</p>
                        <p><b>Sol Sealed:</b>  {{ .Sample.Sol_Sealed }}</p>
                        <p><b>Date Sealed:</b>  {{ .Sample.Date_Sealed.Format "2 January 2006" }}</p>
                        <p><b>Rock Type:</b>  {{ .Sample.Rock_Type }}</p>
                        <p><b>Sample Height:</b>  {{ .Sample.Height }}</p>
                        <p><b>Curent Location:</b>  {{ .Sample.Current_Location }}</p>
                        <p><b>Status:</b>  {{ .Sample.Sample_status }}</p>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
    </body>
    
</html>
